
.Show-Animation{
    position: relative;

    .List-Img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    
        .Img-Item{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
    
        .active {
            opacity: 1 !important;
        }

        .scroll-down{
            margin-top: 115vh;
            position: absolute;
            width: 94%;
            text-align: center;
            transition: .5s all ease;
        
            .icon-scroll{
                background: black;
                color: wheat;
                font-size: 40px;
                font-weight: 800;
                padding: 10px;
                border-radius: 50px;
                border: 2px solid wheat;
                cursor: pointer;
            }
        }
    
        &:hover{
            .scroll-down{
                margin-top: 70vh;
            }
        }
    }
}   
